<mat-card>
	<mat-card-content>
		<div class="grid">
			<div class="col-1 card-type-box">
				<div class="card-type medicamento">
					M
				</div>
			</div>
			<div class="col">
				<div class="title-card">Actaminofen</div>
				<div class="subtitle-card">Tomar 2 500mg</div>
			</div>
			<div class="col-3 card-actions">
				<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"  ></mat-icon>
				<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" color="warn"></mat-icon>
				<mat-slide-toggle ngModel ></mat-slide-toggle>
			</div>
		</div>
	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-content>
		<div class="grid">
			<div class="col-1 card-type-box">
				<div class="card-type cita">
					C
				</div>
			</div>
			<div class="col">
				<div class="title-card">Actaminofen</div>
				<div class="subtitle-card">Tomar 2 500mg</div>
			</div>
			<div class="col-3 card-actions">
				<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"  ></mat-icon>
				<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" color="warn"></mat-icon>
				<mat-slide-toggle ngModel ></mat-slide-toggle>
			</div>
		</div>
	</mat-card-content>
</mat-card>
