<mat-card>
	<mat-card-header>
		<mat-card-title>Actions Buttons</mat-card-title>
		<mat-card-subtitle>Start</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="water"  ></mat-icon>
		<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" color="accent"></mat-icon>
		<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" color="warn"></mat-icon>
		<mat-slide-toggle ngModel ></mat-slide-toggle>

	</mat-card-content>
</mat-card>
<br>
<mat-card>
	<mat-card-header>
		<mat-card-title>
			<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
			Actions Buttons
		</mat-card-title>
		<mat-card-subtitle>End</mat-card-subtitle>
	</mat-card-header>
</mat-card>
